@import "@/utils/theme.scss";

.container {
  @include flex(column, center, center, 20px);
  @include width-height(100vw, 100vh);
  background-image: url("assets/images/wallpaper.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $darkBlue;
  padding: 50px;
  .title {
    color: $white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  .subtitle {
    color: $white;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    width: 800px;
  }
}
