@import "@/utils/theme.scss";

.container {
  @include flex(row, space-between, baseline);
  @include width-height(100vw, 200px);
  background: linear-gradient($darkBlue, #ffffff00);
  padding: 20px;
  position: fixed;
  .logo {
    @include width-height(200px, auto);
    object-fit: contain;
  }
  .list {
    @include width-height(50vw, auto);
    @include flex(row, space-around, center);
    list-style: none;
    .item {
      color: $white;
      font-size: 16px;
      cursor: pointer;
      transition: all 1s;
    }
  }
}
