@import "@/utils/theme.scss";

.container {
  @include flex(row, space-between, baseline);
  @include width-height(100vw, 200px);
  background: linear-gradient($darkBlue, #ffffff00);
  padding: 20px;
  position: fixed;
  .logo {
    @include width-height(200px, auto);
    object-fit: contain;
    cursor: pointer;
  }
  .list {
    @include width-height(50vw, auto);
    @include flex(row, space-around, center);
    list-style: none;
    .item {
      @include button(16px, $grey);
    }
  }
}
