@import "@/utils/theme.scss";

.container {
  @include flex(row, center, center);
  @include width-height(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 30, 48, 0.3);
  z-index: 99;
  .spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    &:after {
      content: " ";
      display: block;
      width: 50px;
      height: 50px;
      margin: 8px;
      border-radius: 50%;
      border: 6px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: rotateRing 1.2s linear infinite;
    }
  }
}

@keyframes rotateRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
